<?xml version="1.0"?>
<arcane-config code-name="Pattern4GPU">
  <time-loops>
    <time-loop name="UpdateTensorLoop">
      <title>UpdateTensor</title>
      <description>Boucle en temps pour benchmarker la maj de tenseurs en multi-env</description>

      <modules>
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
	<!-- <module name="ArcaneCheckpoint" need="required" /> -->
      </modules>

      <entry-points where="init">
	<entry-point name="Pattern4GPU.GeomEnvInit" />
	<entry-point name="Pattern4GPU.InitTensor" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.UpdateTensor" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
