<?xml version="1.0"?>
<arcane-config code-name="Pattern4GPU">
  <time-loops>
    <time-loop name="UpdateTensorLoop">
      <title>UpdateTensor</title>
      <description>Boucle en temps pour benchmarker la maj de tenseurs en multi-env</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
	<!-- <module name="ArcaneCheckpoint" need="required" /> -->
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitTensor" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.UpdateTensor" />
      </entry-points>
    </time-loop>


    <time-loop name="UpdateVectorFromTensorLoop">
      <title>UpdateVectorFromTensor</title>
      <description>Boucle en temps pour benchmarker la maj de vecteurs aux noeuds en global</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
	<!-- <module name="ArcaneCheckpoint" need="required" /> -->
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitTensor" />
	<entry-point name="Pattern4GPU.InitNodeVector" />
	<entry-point name="Pattern4GPU.InitCqs" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.UpdateVectorFromTensor" />
      </entry-points>
    </time-loop>


    <time-loop name="ComputeCqsAndVectorLoop">
      <title>ComputeCqsAndVector</title>
      <description>Boucle en temps pour benchmarker le calcul des Cqs</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitNodeVector" />
	<entry-point name="Pattern4GPU.InitNodeCoordBis" />
	<entry-point name="Pattern4GPU.InitCqs" />
	<entry-point name="Pattern4GPU.InitCellArr12" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.ComputeCqsAndVector" />
      </entry-points>
    </time-loop>


    <time-loop name="ComputeCqsAndUpdateVectorFromTensorLoop">
      <title>ComputeCqsAndUpdateVectorFromTensor</title>
      <description>Boucle en temps pour benchmarker le calcul des Cqs et la maj du vecteur à partir du tenseur</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitTensor" />
	<entry-point name="Pattern4GPU.InitNodeVector" />
	<entry-point name="Pattern4GPU.InitNodeCoordBis" />
	<entry-point name="Pattern4GPU.InitCqs" />
	<entry-point name="Pattern4GPU.InitCellArr12" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.ComputeCqsAndVector" />
	<entry-point name="Pattern4GPU.UpdateVectorFromTensor" />
      </entry-points>
    </time-loop>


    <time-loop name="CqsVectorTensorLoop">
      <title>CqsVectorTensor</title>
      <description>Boucle en temps pour benchmarker le calcul des Cqs et la maj du vecteur à partir du tenseur et la maj multi-env du tenseur</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitTensor" />
	<entry-point name="Pattern4GPU.InitNodeVector" />
	<entry-point name="Pattern4GPU.InitNodeCoordBis" />
	<entry-point name="Pattern4GPU.InitCqs" />
	<entry-point name="Pattern4GPU.InitCellArr12" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.ComputeCqsAndVector" />
	<entry-point name="Pattern4GPU.UpdateVectorFromTensor" />
	<entry-point name="Pattern4GPU.UpdateTensor" />
      </entry-points>
    </time-loop>


    <time-loop name="TestCartesianLoop">
      <title>TestCartesian</title>
      <description>Boucle en temps pour tester des acces élémentaires directionnels</description>

      <modules>
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Pattern4GPU.InitBenchCartesian" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.TestCartesian" />
      </entry-points>
    </time-loop>


    <time-loop name="CartesianLoop">
      <title>Cartesian</title>
      <description>Boucle en temps pour benchmarker des boucles élémentaires sur des maillages cartésiens Arcane:: et Cartesian::</description>

      <modules>
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Pattern4GPU.InitBenchCartesian" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.BenchCartesian" />
      </entry-points>
    </time-loop>


    <time-loop name="CartVolLoop">
      <title>CartVol</title>
      <description>Boucle en temps pour calculer par direction les volumes à travers les faces</description>

      <modules>
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Pattern4GPU.InitCartMesh" />
	<entry-point name="Pattern4GPU.InitForVol" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.ComputeVol" />
      </entry-points>
    </time-loop>


    <time-loop name="EnvOrderLoop">
      <title>EnvOrder</title>
      <description>Boucle en temps pour un ordre de traitement des environnements par maille</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Pattern4GPU.InitCartMesh" />
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitNodeCoordBis" />
	<entry-point name="Pattern4GPU.InitEnvOrder" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.DetEnvOrder" />
      </entry-points>
    </time-loop>


    <time-loop name="PartialImpureOnlyLoop">
      <title>PartialImpureOnly</title>
      <description>Boucle en temps pour benchmarker la maj de valeurs partielles sur les mailles mixtes (impures)</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitMEnvVar" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.PartialImpureOnly" />
      </entry-points>
    </time-loop>


    <time-loop name="PartialOnlyLoop">
      <title>PartialOnly</title>
      <description>Boucle en temps pour benchmarker la maj de valeurs partielles sur les mailles pures et mixtes</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitMEnvVar" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.PartialOnly" />
      </entry-points>
    </time-loop>


    <time-loop name="PartialAndMeanLoop">
      <title>PartialAndMean</title>
      <description>Boucle en temps pour benchmarker les calculs de valeurs partielles sur les mailles pures et mixtes puis maj grandeur moyenne</description>

      <modules>
	<module name="GeomEnv" need="required" />
	<module name="Pattern4GPU" need="required" />
	<module name="ArcanePostProcessing" need="required" /> 
      </modules>

      <entry-points where="build">
	<entry-point name="Pattern4GPU.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="GeomEnv.InitGeomEnv" />
	<entry-point name="Pattern4GPU.InitP4GPU" />
	<entry-point name="Pattern4GPU.InitMEnvVar" />
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Pattern4GPU.PartialAndMean" />
      </entry-points>
    </time-loop>


  </time-loops>
</arcane-config>
